{% extends "dashboard/base/dashboard_base.html" %}

{% load widget_tweaks %}


{% block title %}Upload Book{% endblock title %}
{% block navbar_brand %}Upload Book{% endblock navbar_brand %}

{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title">Upload Book</h4>
            <p class="card-category">Enter book details</p>
          </div>
          <div class="card-body">
            <form method="post" enctype="multipart/form-data">
              {% csrf_token %}

              <div class="row">
                <div class="col-md-12">
                      <div class="form-group">
                          <label class="bmd-label-floating">{{ form.title.label_tag }}</label>
                          <div class="input" >{{ form.title|add_class:"form-control" }}</div>
                      </div>
                </div>
                <div class="col-md-12">
                      <div class="form-group">
                          <label class="bmd-label-floating">{{ form.author.label_tag }}</label>
                          <div class="input" >{{ form.author|add_class:"form-control" }}</div>
                      </div>
                </div>
                <div class="col-md-12">
                      <div class="form-group">
                          <label class="bmd-label-floating">{{ form.subject.label_tag }}</label>
                          <div class="input" >{{ form.subject|add_class:"form-control" }}</div>
                      </div>
                </div>
                <div class="col-md-12">
                  <div class="file-upload-wrapper">
                    <div class="input" >{{ form.file|add_class:"form-control" }}</div>
                  </div>
                </div>
              </div>
              <button type="submit" class="btn btn-primary pull-right">Upload Book</button>
            </form>
         </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}


{% block script %}
  <script>
    $("#upload-book").addClass("active")
  </script>
{% endblock script %}
